<section class="row">

  <h1>Log in to Recipe Recs</h1>
  <%= form_tag login_path do %>
    <%= label_tag :provider %>
    <%= text_field_tag :provider %>

    <%= label_tag :uid %>
    <%= text_field_tag :uid %>

    <%= submit_tag "Log in" %>
  <% end %>
</section>
