<article class="index">
  <h2>Recipes</h2>
  <% if @recipes.empty? %>
    <p>
      No recipes to display!
    </p>
  <% else %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= form_tag recipe_path, method: :get do %>
            <%= hidden_field_tag :uri, recipe.uri %>
            <%= submit_tag(recipe.name) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

<%= form_tag search_recipes_path, method: :get do %>
  <%= hidden_field_tag :page, (params[:page].to_i + 1) %>
  <%= hidden_field_tag :search_terms, params[:search_terms] %>
  <%= submit_tag("Next 10 Results") %>
<% end %>

<% if @page >= 1 %>
  <%= form_tag search_recipes_path, method: :get do %>
    <%= hidden_field_tag :page, (params[:page].to_i - 1) %>
    <%= hidden_field_tag :search_terms, params[:search_terms] %>
    <%= submit_tag("Previous 10 Results") %>
  <% end %>
<% end %>

</article>
