



<%= form_tag(homepages_index_path, method: "get") do %>
<div class="input-group input-group-rounded">
  <%= text_field_tag(:search_words, nil, :placeholder => "Ingredients", :class => "input-group-field", :type => "search") %>
  <div class="input-group-button">
    <%= submit_tag "Search", :class => "button secondary" %>
    </div
    <% end %>
  </div>
  <div class="dietary_needs">

  <%= check_box_tag(:health, "peanut_free") %>
  <%= label_tag(:dietary_needs, "peanut-free") %>
  <%= check_box_tag(:health, "tree_nut_free") %>
  <%= label_tag(:dietary_needs, "tree-nut-free") %>
  <%= check_box_tag(:health, "vegan") %>
  <%= label_tag(:dietary_needs, "vegan") %>
  <!-- label -->
  <%= check_box_tag(:health, "vegetarian") %>
  <%= label_tag(:dietary_needs, "vegetarian") %>
  </div>

  <div class="small-12 columns medium-12 columns end large-9 columns end">
    <%if params[:search_words] %>
    <% if @recipes.length > 0 %>
    <div class="row">
      <% @recipes.each do |recipe| %>
      <div class="small-12 columns medium-6 columns end large-4 columns end">
        <%= link_to image_tag(recipe.image), homepages_show_path(recipe.uri) %>
        <p class="recipe name">
          <%= link_to recipe.label, homepages_show_path(recipe.uri) %>
        </p>
      </div>
      <% end %>

    </div>
    <%= will_paginate @recipes, class: "row" %>
    <% end %>
    <% end %>

  </div>
  <p>
    SIDEBAR HERE
  </p>
