<div class="search">
    <%= form_tag(homepages_index_path, method: "get") do %>
  <div class="dietary_needs small-9 columns medium-9 columns end large-12 columns">
    <div class="dietary checkbox">
    <%= check_box_tag(:health, "peanut-free") %>
    <%= label_tag(:dietary_needs, "peanut-free") %>
    </div>
    <div class="dietary checkbox">
    <%= check_box_tag(:health, "tree-nut-free") %>
    <%= label_tag(:dietary_needs, "tree-nut-free") %>
    </div>
    <div class="dietary checkbox">
    <%= check_box_tag(:health, "vegan") %>
    <%= label_tag(:dietary_needs, "vegan") %>
    </div>
    <div class="dietary checkbox">
    <%= check_box_tag(:health, "vegetarian") %>
    <%= label_tag(:dietary_needs, "vegetarian") %>
    </div>
  </div>
  <div class="input-group input-group-rounded">
    <%= text_field_tag(:search_words, nil, :placeholder => "Ingredients", :class => "input-group-field", :type => "search") %>
    <div class="input-group-button">
      <%= submit_tag "Search", :class => "button secondary" %>
      <% end %>
    </div>
  </div>

  <%if params[:search_words] %>
  <% if @recipes.length > 0 %>
  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="small-12 columns medium-6 columns end large-4 columns end">
      <%= link_to image_tag(recipe.image), homepages_show_path(recipe.uri) %>
      <p class="recipe name">
        <%= link_to recipe.label, homepages_show_path(recipe.uri) %>
      </p>
    </div>
    <% end %>
  </div>
  <%= will_paginate @recipes, class: "row" %>
  <% end %>
  <% end %>
