<article class="index">

  <% if @recipes %>
    <h1>Recipes</h1>
    <ul>
      <% @recipes.each do |recipe| %>
        <li>
          <%= recipe.name %>
        </li>
      <% end %>
    </ul>
  <% end %>

<%= form_tag search_recipes_path, method: :get do %>
  <%= hidden_field_tag :page, params[:page] %>
  <%= hidden_field_tag :search_terms, params[:search_terms] %>
  <%= submit_tag("Next 10 Results") %>
<% end %>

</article>
