<h1>List of recipes</h1>

<section class="recipe-list">
  <h1>Recipes for <%= @search_term %></h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.name, show_recipe_path(recipe.id) %>
      </li>
    <% end %>
  </ul>

<%= @previous_link.html_safe %>
<%= @next_link.html_safe %>
</section>
<%= link_to "Home", root_path, class: "button" %>
