<section class="row">
  <div class="title large-12 columns">
    <h1><%= @recipe.name %></h1>
  </div>

  <article class="large-3 large-offset-3 columns">
      <%= image_tag(@recipe.image_url) %>
  </article>
  <article class="large-6 columns">
    <p>Ingredients:
      <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
      <% end %>
    </p>
    <p>
      <%= link_to @recipe.url, class: "external-link" do %>
      <i class="fa fa-external-link" aria-hidden="true"></i>
      Click here for directions
      <% end %>
    </p>
  </article>
</section>

<section class="small-6 large-centered columns">
  <p>Dietary Information: </p>
  <article class="nutrition-table">
    <table>
      <thead>
        <tr>
          <th>label</th>
          <th>total</th>
          <th>daily %</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.nutritions.each do |nutrition| %>
          <tr>
            <td><%= nutrition["label"] %></td>
            <td><%= nutrition["total"].round(2) %> <%= nutrition["unit"] %></td>
            <td><%= nutrition["daily"].round(2) %></td>
          </tr>
          <% if nutrition["sub"] %>
            <% nutrition["sub"].each do |sub| %>
              <tr>
                <td><%= sub["label"] %></td>
                <td><%= sub["total"].round(2)%> <%= sub["unit"] %></td>
                <td><%= sub["daily"].round(2) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </article>
</section>
