<%= form_tag recipes_path, method: :get do %>
  <%= hidden_field_tag :search_text, params[:search_text] %>
  <%= hidden_field_tag :health, params[:health] %>
  <%= hidden_field_tag :diet, params[:diet] %>
  <%= hidden_field_tag :from, (params[:from].to_i + 10 )  %>
<div class="search_buttons"><%= link_to 'Back', :back, class: "button"%>
  <%= submit_tag "Next", class: "button" %>
<% end %></div>
