<h1 class="row">Results for <%= @search_term %>...</h1>

<section class="row">
<% @recipes.each do |recipe| %>
  <article class="small-10 medium-6 large-4 columns">
    <div class="recipe-link">
    <p><%= link_to image_tag(recipe.image, alt: "Recipe img"), recipe_path(recipe.id, "q" => @search_term) %></p>
    <h7 class="recipe-title"><%= recipe.name[0..32] %><%= "..." if recipe.name.length > 32 %></h7>
    </div>
  </article>
<% end %>
</section>

<nav class="paginator">
<% if @page > 1 %>
  <%= link_to "<<", recipes_path("recipe" => { "q" => @search_term, "from" => (@page - 2) * 12, "to" => (@page - 1) * 12 }), class: "button" %>
<% end %>

<% if (@count > @page * 12) # 12 recipes displayed per page %>
  <%= link_to ">>", recipes_path("recipe" => { "q" => @search_term, "from" => @page * 12, "to" => (@page + 1) * 12}), class: "button" %>
<% end %>
</nav>
