<% content_for :title { "Eat Your Veggies" } %>

<section class="small-12 columns">
  <%= form_tag(recipes_path, method: :get, id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for Recipes" %>
    <%= hidden_field_tag :page, 1 %>
    <%= submit_tag "Search" %>
  <% end %>
</section>

<section class="small-12 columns">
  <% if params[:search] && @recipes.empty? %>
    <p>No results found.</p>
  <% end %>

  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= image_tag recipe.image, alt: recipe.label %>
        <%= link_to recipe.label, recipe_path(recipe.id) %>
      </li>
    <% end %>
  </ul>

  <% if params[:search] %>
    <% page = params[:page] ? params[:page].to_i : 1 %>
    <% if page > 1 %>
      <%= link_to "prev", params.permit(:search).merge(page: page - 1) %>
    <% end %>
    <% if !(@recipes.length < 10) && !@recipes.empty? %>
      <%= link_to "next", params.permit(:search).merge(page: page + 1) %>
    <% end %>
  <% end %>

</section>
