<h2>Recipes</h2>

<%= form_tag(recipes_path, method: :get, id: "search-form") do %>
  <%= label_tag :search, "Search: " %>
  <%= text_field_tag :search, params[:search] %>
  <%= hidden_field_tag :page, 1 %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:search] && @recipes.empty? %>
  <p>
    No results found.
  </p>
<% end %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= image_tag recipe.image, alt: recipe.label %>
      <%= link_to recipe.label, recipe_path(recipe.id) %>
    </li>
  <% end %>
</ul>

<% if params[:search] %>
  <% page = params[:page].to_i %>
  <% if page > 1 %>
    <%= link_to "prev", params.permit(:search).merge(page: page - 1) %>
  <% end %>
  <%= link_to "next", params.permit(:search).merge(page: page + 1) %>
<% end %>
