<section class="row">

  <article class="large-12 columns">
  <% if @list_of_recipes.nil? %>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!-- <img src="http://msmarket.coop/files/recipe-header.jpg" alt="food"> -->
    <!-- <img src="https://www.maxinutrition.com/Images/Article/large/maxinutrition-recipes-detox-smoothie-header-desktop.jpg" alt="smoothies"> -->

    <%= render partial: "searchForm" %>

  <% else %>
  <h1>Search Results</h1>
    <% @list_of_recipes.each_with_index do |recipe, index| %>
      <div class="large-4 columns">
        <img src="<%= recipe.image_url %>"  alt="recipe: <%= index + 1 %>">
        <div><h5><%= link_to recipe.label, recipe_path(recipe.id) %></h5></div>
      </div>
    <% end %>

  </article>

  <nav>
    <%= form_tag recipes_path, method: :get do %>
      <%= hidden_field_tag :search_text, params[:search_text] %>
      <%= hidden_field_tag :health, params[:health] %>
      <%= hidden_field_tag :diet, params[:diet] %>
      <%= hidden_field_tag :from, (params[:from].to_i + 10 )  %>
      <%= submit_tag "Next 10", class: "button" %>
    <% end %>
    <%= link_to 'Back', :back, class: "button"%>
  </nav>
  <% end %>
</section>
