<div class="row small-up-1 large-up-2">
  <div class="column column-block">
    <h2>Recipe finder</h2>
  </div>

  <div class="column column-block">
    <%= form_tag root_path, method: "get" do %>
      <%= label_tag(:search_term, "Search term") %>
      <div class="row">
        <div class="small-9 columns"
        <%= text_field_tag(:search_term) %>
        </div>
        <div class="small-3 columns">
          <%= submit_tag("Search", class: "button") %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <% if @recipes %>
    <div class="row small-up-1 large-up-4">
      <% @recipes.each do |recipe| %>
        <div class="column column-block">
          <img src="<%= recipe.image %>">
          <br/>
          <%= link_to recipe.name, show_recipe_path(recipe.id) %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= will_paginate @recipes %>
    </div>
  <% end %>
