<h1>Recipes#index</h1>
<p>Hello</p>

<%= form_tag(recipes_path, method: :get) do %>
<%= label_tag(:q, "Search for:") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>
<% end %>
<section>
<ul>
<% @recipes.each do |recipe| %>
  <li>
    <%= link_to recipe.label, recipe_path(:label => recipe.label, :uri =>recipe.uri) %><%= link_to image_tag(recipe.image), recipe.url %>
  </li>
<% end  %>
  <%= will_paginate @recipes_pages %>
</ul>
</section>
