<h2>Recipes</h2>

<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
  <%= label_tag :search, "Search: " %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search"%>
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= image_tag recipe.image, alt: recipe.label %>
      <%= link_to recipe.label, recipe_path(recipe.id) %>
    </li>
  <% end %>
</ul>
