<h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe_path(uri: recipe.uri) do %>
        <%= image_tag(recipe.image_url, class: "small-img") %>
        <span><%= recipe.title %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<% unless @page == 1 %>
  <%= link_to "Previous", recipes_path(q: @search_term, page: @page - 1) %>
<% end %>

<%= link_to "Next", recipes_path(q: @search_term, page: @page + 1) %>
