
<h1><img class="logo-image" src="http://68.media.tumblr.com/ef34e3404fe276b5d2a4c33d637db6e7/tumblr_opmcz55NW61uh4dkdo1_500.png"></h1>
<%= form_tag recipes_path, method: :get do %>
<%= text_field_tag :query, "", class: "search-box" %>
<%= hidden_field_tag :from, "0" %>
<%= submit_tag "Send It!", class: "send-button" %>
<% end %>
<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="small-4 columns">
    <%= image_tag("#{recipe.image}", :alt => "recipe image", class: "food-image") %>
    <br>
    <br>
    <ul>
      <li><%= link_to "#{recipe.label}", recipe_path(recipe.uri.partition("#").last) %></li>
      <li>Calories: <%= ((recipe.calories)/4).round %></li>
      <li>Ingredients: <%= (recipe.ingredient_lines).length %></li>
      <li><%= link_to "#{recipe.recipe_source_label}", recipe.recipe_source_url %></li>
      <li><%= recipe.health_label %></li>
    </ul>
  </div>
  <% end %>
</div>

<%= form_tag recipes_path, method: :get do %>
<%= hidden_field_tag :query, params[:query] %>
<%= hidden_field_tag :from, (@from.to_i + 10) %>
<%= submit_tag "Next" %>
<% end %>
