<% if !@recipes.nil? %>
  <% if  @recipes[0] != []  %>
<!-- Top banner -->
<section class = "row large-up-12">
  <div class="column">
    <h4 class="my_box">
      It's all about <%= @text.upcase%> ( <%= @recipes.last%>)
    </h4>
  </div>
</section>


<!-- Cards -->
<section class = "row large-up-5 medium-up-2 small-up-1 index_text" data-equalizer>
  <% @recipes.first.each do |recipe|%>
  <section class="column">

    <section class = "my_box" data-equalizer-watch>
      <div>
        <%= link_to image_tag(recipe.image , alt: "Image not available", class: "recipe_image_index"), recipe_path(recipe.uri.partition('#').last)%>
      </div>
      <h6> <%= recipe.label%></h6>
    </section>

  </section>
  <% end %>
</section>


<!-- Next and previous buttons  -->
<section class = "row">

  <%if @from.to_i >= 10%>
  <section class = "large-2 columns" >
    <% from = (@from.to_i-10).to_s %>
    <% to = (@to.to_i-10).to_s %>
    <div>
      <%= link_to "<<<<<",  recipes_path(:search_text => @text, :from =>  from, :to => to, method: :post),   class: "button"%>
    </div>
  </section>
  <% end %>

  <div class = "large-8 columns">
  </div>

  <%if @to.to_i < @recipes.last%>
  <section class = "large-2 columns">
    <% from = (@from.to_i+10).to_s %>
    <% to = (@to.to_i+10).to_s %>
    <div>
      <%= link_to ">>>>>",  recipes_path(:search_text => @text, :from =>  from, :to => to, method: :post),   class: "button"%>
    </div>
  </section>
  <% end %>

</section>
<% end %>
<% end %>
