<h1> Search Results </h1>

<%= form_tag(recipes_path, :method => "get") do %>
    <%= text_field_tag :search_term, params[:search_term], placeholder: "Search More Recipes" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
<% @recipes.each do |recipe| %>
  <li>
    <%= link_to recipe["recipe"]["label"], recipe_path(:uri => recipe["recipe"]["uri"].tr('http://www.edamam.com/ontologies/edamam.owl#recipe_', ''), :search_term => params[:search_term])%>
    <%= image_tag recipe["recipe"]["image"] %>
  </li>
  <%end%>
</ul>
