<h2 id="index-title"><%= "Here are some delectable #{params[:search]} recipes..." %></h2>


<ul class ="index">
  <% @recipes.each_with_index do |recipe, index| %>
  <li>
    <% if index%2 == 0 %>
      <ul class="float-index-left">
        <li class="index_recipe"> <%= link_to recipe.name, recipe_path(recipe.id), method: :get %></li>
        <li class="index_recipe">  <%= link_to (image_tag recipe.image, alt:"picture of #{recipe.name}", class:"index-picture"), recipe_path(recipe.id), method: :get %></li>
      </ul>
    <% else %>
      <ul class="float-index-right">
        <li class="index_recipe"> <%= link_to recipe.name, recipe_path(recipe.id), method: :get %></li>
        <li class="index_recipe">  <%= link_to (image_tag recipe.image, alt:"picture of #{recipe.name}", class:"index-picture"), recipe_path(recipe.id), method: :get %></li>
      </ul>
    <%end%>
    <section class="clearfix"> </section>
  </li>
  <% end %>
</ul>


<section>

  <% if params[:from].to_i != 0 %>
        <% current_start = params[:from].to_i  %>
        <% previous_start = current_start - 10  %>
        <% previous_end = current_start %>
<%= button_to "Previous", recipes_path, method: :get, :params =>{:search => params[:search], :from => previous_start, :to => previous_end }%>
<% end %>

<%= "~ you are viewing ##{params[:from]} to #{params[:to]} of #{@total_count} #{params[:search]} recipes~"%>

<% if params[:to].to_i <= (@total_count-20) %>
    <% current_end = params[:to].to_i  %>
    <% next_start = current_end  %>
    <% next_end = next_start + 10 %>
    <%= button_to "Next", recipes_path, method: :get, :params => {:search => params[:search], :from => next_start, :to => next_end }%>

<% else %>
    <% current_end = params[:to].to_i  %>
    <% next_start = current_end  %>
    <% next_end = @total_count %>
    <%= button_to "Next", recipes_path, method: :get, :params => {:search => params[:search], :from => next_start, :to => next_end }%>

<% end %>

</section>
