<h1>Recipes</h1>
<!-- need a form for search here -->
<%= form_tag(root_path, method: :get) do %>
<%= label_tag(:q, "Recipe name?") %>
<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>
<% end %>

<section>
<ul>

  <% if @recipes %>

  <% @recipes_pages.each do |recipe| %>
  <li><%= link_to recipe.name, recipes_show_path(recipe.uri) %></li>
  <!-- <li><%# link_to 'recipe', recipe.uri %></li> -->
  <li><%= image_tag recipe.image %></li>
  <% end %>
<%= will_paginate @recipes_pages, page_links: false %>
  <% end %>


</ul>

</section>
