<h2>Recipes</h2>

<%= form_tag(recipes_path, method: :get, id: "search-form") do %>
  <%= label_tag :search, "Search: " %>
  <%= text_field_tag :search, params[:search] %>
  <%= hidden_field_tag :page, params[:page].to_i + 1 %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= image_tag recipe.image, alt: recipe.label %>
      <%= link_to recipe.label, recipe_path(recipe.id) %>
    </li>
  <% end %>
</ul>

<% if params[:search] %>
  <%= link_to "next", params.permit(:page, :search).merge(page: params[:page].to_i + 1) %>
<% end %>
