
<main class="row">

<h1 class="recipe-header"><%=@recipe.label%></h1>


<p>
  Originally found at <%= link_to @recipe.source[0], @recipe.source[1], target: :_blank %>
</p>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
<li>
  <%= ingredient %>
</li>
<% end %>
</ul>

<% @recipe.nutrition.each do |k, v| %>
<ul>
  <li>
  <%= v["label"] %>
  </li>
  <li>
    <%= v["quantity"] %>
  </li>
</ul>


<% end %>



</main>
