
<%= render partial: "search_bar" %>

<section class="results">
  <div class="row small-up-2 medium-up-3 large-up-2">
    <ul>
    <% @recipes.each do |recipe| %>
    <div class="column column-block box">
      <div class="inner" itemscope itemtype="http://schema.org/Recipe">
        <div class="object">
          <%= link_to recipe_path(name: recipe.name, uri: recipe.uri), itemprop: 'url' do %>
          <span class="image">
            <span class="holder">
              <%= image_tag recipe.image, alt: recipe.name %>
            </span>
          </span>
          <span class="title" itemprop="name"><%= recipe.name %></span>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    </ul>
  </div>
  <%= will_paginate @recipes, class: 'row' %>
</section>
