<p>
  Avoid asking yourself the question everyone secretly wants
  to know.
</p>
<p>
  "How many days can I eat this without dying?"
</p>
<p>
  Find recipes, inspiration, and eat something that doesn't come
  out of a crinkly, brightly colored bag.
</p>
<span class="hidden">
  Hey, you! Yes, you, the one poking around my site. Are you sneaking around
  because you're interested in hiring me? Perhaps it's time to check out
  the div below.
  <div>
    <%= link_to "My Github", "https://github.com/moonpastry" %>
  </div>
</span>

<%= form_tag recipes_path do %>
<p>
  <%= text_field_tag :search, params[:search], :method => 'post' %>
  <%= hidden_field_tag :page, 1 %>
  <%= submit_tag "Search" %>
</p>
<% end %>
