<section class="row">
<h1>Recipe Search</h1>
  <%= form_tag recipes_path, method: :get do %>
    <%= label_tag :Search %>
    <%= text_field_tag :search_text %>
    <%= hidden_field_tag :from, 0 %>
    <%= submit_tag "Send" %>
  <% end %>
</secion>
