<body>
  <main class="home">
    <article class="search-form">
      <h1>Find your lovely recipes!!</h1>
      <%= form_tag("/recipes/index", method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= hidden_field_tag :from, params[:from], value: 0%>
      <%= submit_tag("Search") %>
      <% end %>
    </article>
  </main>
  <footer class ="footer">
    <p class="footer-child-edamam-logo"> <%= link_to(image_tag('Attribution.png', alt: 'Edamam Logo'), "https://www.edamam.com/") %></p>
    <p class="footer-child-copyright">&copy; - Created by <%= link_to "Sofia", "https://sofia15.github.io/Static-Site/index.html" %> - 2017 </p>
  </footer>
</body>
