<%= form_tag list_path( 0, 10), method: :get do %>
  <%= label_tag :search_term %>
  <%= text_field_tag :search_term %>
  <p>
  <div><%= label_tag "Vegetarian"%>
  <%= check_box_tag "health[]", "vegetarian"%></div>
  <div><%= label_tag "Vegan"%>
  <%= check_box_tag "health[]", "vegan"%></div>
  <div><%= label_tag "Peanut-free"%>
  <%= check_box_tag "health[]", "peanut-free"%></div>
  <div><%= label_tag "Soy-free"%>
  <%= check_box_tag "health[]", "soy-free"%></div>
  <div><%= label_tag "Dairy-free"%>
  <%= check_box_tag "health[]", "dairy-free"%></div>
  <div><%= label_tag "Gluten-free"%>
  <%= check_box_tag "health[]", "gluten-free"%></div>
  <div><%= label_tag "Pork-free"%>
  <%= check_box_tag "health[]", "pork-free"%></div>
  <div><%= label_tag "Shellfish-free"%>
  <%= check_box_tag "health[]", "shellfish-free"%></div>
</p>

<div><%= submit_tag "Get me some recipes!", class: "button" %></div>

<% end %>
