<div class="row align-center">
  <section class="column small-12 text-center">
    <h3> Search Recipes </h3>
    <%= form_for :recipe do |f| %>
    <%= f.text_field :term, placeholder: "Enter ingredient here" %>
    <%= f.submit "Search Recipes" %>
    <% end %>
  </section>
</div>

<h4 class="column small-12 text-center"> Recipe List </h4>
<div class="row small-up-2 medium-up-3 large-up-4">
  <% if @recipes != nil %>
  <% @recipes.each do |recipe| %>
  <div class="column column-block text-center">
    <div class="thumbnail"><%= link_to image_tag(recipe.img_url, alt: "picture of recipe"), recipe_path(recipe.id) %></div>
    <%= link_to recipe.name %>

  </div>
    <% end %>
  <% end %>
</div>







<!-- <section class="column small-12 text-center">
<h4> Recipe List </h4>
<ul>
<% if @recipes != nil %>
<% @recipes.each do |recipe| %>
<li> <%= link_to image_tag(recipe.img_url, alt: "picture of recipe"), recipe_path(recipe.id) %></li>
<li><%= link_to recipe.name %></li>
<% end %>
</ul>
<% end %>
</section> -->
