<h1> <%= @recipe.name %> </h1>

<%= image_tag @recipe.image %>

<%= link_to "Find more here", @recipe.link %>

<h3>Ingredients</h3>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<h3> Dietary Information </h3>
<ul>
  <%  @recipe.diet.each do |info| %>
    <li>
      <%= info[1]["label"] %> <%= info[1]["quantity"] %> <%= info[1]["unit"] %>
    </li>
  <% end %>
</ul>
