<h1>Recipe Details</h1>

<%= image_tag @recipe.image, class: "fullsize" %>
<h3>
  <%= @recipe.label %>
</h3>

<h5> Dietary Info </h5>
<ul>
  <% @recipe.dietLabels.each do |label| %>
  <li>
    <%= label %>
  </li>
  <% end %>
  <% @recipe.healthLabels.each do |label| %>
  <li>
    <%= label %>
  </li>
  <% end %>
</ul>

<h5> Ingredients </h5>
<ul>
  <% @recipe.ingredientLines.each do |ingredient| %>
  <li>
    <%= ingredient %>
  </li>
  <% end %>
</ul>

<h5>
  <%= link_to "Link to Full Recipe", @recipe.url, target: "_blank" %>
</h5>
