
<header>
  <div class="row small-up-1 large-up-2">
    <div class="column column-block">
      <h1>Recipe finder</h1>
    </div>

    <div class="column column-block clearfix">
      <%= form_tag root_path, method: "get" do %>
        <%= label_tag(:search_term, "Search term") %>
          <div class="float-left" id="searchbox">
          <%= text_field_tag(:search_term) %>
          </div>
          <div class="float-left">
            <%= submit_tag("Search", class: "button") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</header>

<article class="recipe">

  <h2><%= @recipe.name %></h2>
  <div class="recipe_image">
    <img src="<%=@recipe.image%>">
  </div>


  <section class="ingredients">
    <ul>
    <% @recipe.ingredientLines.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
    </ul>
  </section>

  <%= link_to "Full recipe at #{@recipe.source}", @recipe.url, target: :_blank %>

  <section class="labels">
    <% if @recipe.dietLabels != nil %>
      <h4>Dietary information</h4>
      <ul>
        <% @recipe.dietLabels.each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @recipe.healthLabels != nil %>
      <h4>Health information</h4>
      <ul>
        <% @recipe.healthLabels.each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ul>
    <% end %>

  </section>
</article>
<%= link_to "Return to search page", root_path %>
<footer>
  <ul>
    <li class="attribution">Powered by
    <img id="logo" src="https://photos-4.dropbox.com/t/2/AAB5KIYtHNdOJIozYbYwu8oVMRAya0iB1kIbrbyjHv46oQ/12/33723157/jpeg/32x32/3/1494025200/0/2/Edamam_logo_full_RGB.jpg/EIC7yRkYibgBIAIoAg/3T1Q0J6XjOhUtI1sOljNLzpH-iDn7p4Ft40jz6FjKVE?dl=0&size=2048x1536&size_mode=3">
    </li>
  </ul>
</footer>
