<section>
  <% if @recipe == nil %>
  <%= @message %>
  <% else %>
  <h4 class="header"><%= @recipe.name %></h4>
  <div class="small-6 large-6 columns">
  <p>Ingredients</p>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
    <% end %>
  </ul>
</div>
<img src=" <%= asset_path(@recipe.image) %>", alt="<%= @recipe.name %>" />
<div class="small-6 large-6 columns">
  <table>
    <thead>
  <tr>
    <td>Health Labels</td>
    </tr>
</thead>
<tbody>
    <% @recipe.health_labels.each do |label| %>
    <tr>
      <td><%= label %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>
<div class="small-6 large-6 columns">
  <p>Calories: <strong> <%= @recipe.calories %></strong></p>
  <p>Source: <%= @recipe.source %></p>
  <%= button_to "Get the Recipe!", @recipe.original_recipe, target: :_blank %>
</div>
  <% end %>
</section>
