<h2><%= @recipe.name %></h2>

<% raise %>

<%= link_to image_tag(@recipe.image, alt: "mouthwatering #{@recipe.name}"), @recipe.url%>
<%= @recipe.name %>

<% @recipe.ingredients.each do |ingredient| %>
<ul>
  <li><%= ingredient %> </li>
</ul>
<% end %>

Servings : <%= @recipe.yield %>
Serving size: <%= sprintf "%.1f", @recipe.serving_size %> grams

<%@recipe %>




<!-- @diet_info = recipe["totalNutrients"]
@RDA = recipe["totalDaily"]
@url = recipe["url"]
@yield = recipe["yield"]
@serving_size = recipe["totalWeight"] -->
