<h4> Hey you made it! </h4>

<%= render partial: "search_bar" %>

<section>

  <h1><%= @recipe.name  %></h1>

  <%= image_tag @recipe.image %>

  <%= link_to "Original Recipe", @recipe.options[:url] %>

  <p>
    <%= @recipe.options[:servings] %> Servings
  </p>
  <p>
    <%= @recipe.options[:calories] %> Calories
  </p>

  <ul> Diet
    <% @recipe.options[:diet].each do |label| %>

    <li>
      <%= label %>
    </li>
    <% end %>
  </ul>

  <ul> Health Labels
    <% for label in  @recipe.options[:health] %>
    <li>
      <%= label %>
    </li>
    <% end %>
  </ul>

  <ul> Ingredients
    <% for label in @recipe.options[:ingredients] %>
    <li>
      <%= label %>
    </li>
    <% end %>
  </ul>
</section>

<div class="button">
  <%= link_to "Back", results_path(:search) %>
</div>
