<%= @recipe[0]["label"] %><br>
<%= image_tag("#{@recipe[0]["image"]}", :alt => "recipe image", class: "show-image") %>
<%= link_to @recipe[0]["source"], @recipe[0]["url"], :target => "blank", class: "apple" %><br>
<table class="table-one">
  <tr>
    <th>Ingredients:</th>
  </tr>
  <% @recipe[0]["ingredientLines"].each do |ingredient| %><br>
  <tr>
    <td><%= ingredient %></td>
  </tr>
  <% end %>
</table>

<table class="table-two">
  <tr>
    <th>Dietary Information:</th>
  </tr>

  <% @recipe[0]["healthLabels"].each do |label| %>
  <tr>
    <td><%= label %></td>
  </tr>
    <% end %>

  </table>
