
<%= render partial: "search_bar" %>

<section>

  <h1><%= @recipe.name  %></h1>

  <%= image_tag @recipe.image %>


  <ul>
    <% @recipe.options[:diet].each do |label| %>

    <li class="label primary">
      <%= label %>
    </li>
    <% end %>
    <% for label in  @recipe.options[:health] %>
    <li class="label secondary ">
      <%= label %>
    </li>
    <% end %>
  </ul>

  <p>
    <%= @recipe.options[:servings] %> Servings
  </p>
  <p>
    <%= calories_per_serving %> Calories
  </p>

  <table>
    <thead>
      <tr>
        <th width="200">Ingredients</th>
      </tr>
    </thead>
    <tbody>
      <% for ingredient in @recipe.options[:ingredients] %>
      <tr>
        <td><%= ingredient %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<button class="button radius">
  <%= link_to "Original Recipe", @recipe.options[:url] %>
</button>

<section>
  <p class="badge primary">D</p>
  <p class="badge secondary">A</p>
</section>
