<div>
  <p> Title: <%=@recipe.label%></p>
  <p>Calories: <%=@recipe.calories%></p>
  <p> Image: <%=image_tag @recipe.image, alt:"picture of #{@recipe.label}"%>

  <p>Ingridients: <%=@recipe.ingredients%></p>
  <p>Diet labels:
    <%@recipe.diet_labels.each do |l|%>
      <%=l%>
    <%end%>
  </p>
  <p>Health labels:
    <%@recipe.health_labels.each do |l|%>
      <%=l%>
    <%end%>
  </p>
  <br>
    <br>
</div>
