<h1><%= @recipe[0]['recipe']['label'] %></h1>

Original Recipe: <%= link_to "#{@recipe[0]['recipe']['source']}", @recipe[0]['recipe']['url'] %>
<%= image_tag @recipe[0]['recipe']['image'] %>

Calories: <%= @recipe[0]['recipe']['calories'].floor %>

<ul>
<% @recipe[0]['recipe']['ingredientLines'].each do |line| %>
<li> <%= line %> </li>
<%end%>
</ul>

Nutrition Facts:
<table>
  <tr>
    <th> Nutrient </th>
    <th> Amount </th>
  </tr>

    <% @recipe[0]['recipe']['totalNutrients'].each do |nutrient| %>
    <tr>
     <td><%= nutrient[1]["label"] %></td>
     <td><%= "#{nutrient[1]["quantity"].floor} #{nutrient[1]["unit"]}" %></td>
   </tr>
     <%end%>
</table>
