<h1>Recipe</h1>
<%= @recipe.name %>
<%= @recipe.uri %>
<%= image_tag @recipe.image %>
<%= link_to 'See Recipe', @recipe.url, target: :_blank%>
<%= @recipe.r_yield %>
<% @recipe.diet_labels.each do |label| %>
<%= label %>
<% end %>
<% @recipe.health_labels.each do |label| %>
<%= label %>
<% end %>
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient %>
  <% end %>
  <%= @recipe.calories %>
  <%# raise %>
  <% @recipe.nutrients.each do |nutrient| %>
  <%= nutrient[1]["label"]%>
  <%= nutrient[1]["quantity"] %>
  <% end %>


<!-- # uri, name, image, img_source, url, r_yield, diet_labels, health_labels, ingredients, calories -->
