<div>
  <p>  <%=@recipe.label%></p>
  <p> <%=image_tag @recipe.image, alt:"picture of #{@recipe.label}"%>
  <p>Calories: <%=@recipe.calories.round(0)%></p>
  <div>Ingridients:
     <%@recipe.ingredients.each do |ingridient|%>
        <p><%=ingridient["text"]%></p>
     <%end%>
   </div>
  <p>Diet labels:
    <%@recipe.diet_labels.each do |l|%>
      <%=l%>
    <%end%>
  </p>
  <p>Health labels:
    <%@recipe.health_labels.each do |l|%>
      <%=l%>
    <%end%>
  </p>
  <br>
    <br>
</div>
