<main>
<h2 class = "text-center">List of Recipes</h2>
<p>NUMBER: <%=@recipes_number%></p>
<ul class="pagination  text-center" role="navigation" aria-label="Pagination">
  <%per_page=12%>
  <%n = @recipes_number/per_page%>
  <%n += 1 if @recipes_number%per_page>0%>


  <div><%if params[:from].to_i != 0%>
        <li class="pagination-previous"><a href="/recipes/view_recipes?from=<%=params[:from].to_i-per_page%>&amp;search=<%=@search_query%><%=@optional_params%>" aria-label="Previous page">Previous <span class="show-for-sr">page</span></a></li>
      <%end%>
  </div>

  <%(0...n).each do |i|%>
    <%@from = i*per_page%>
    <%if params[:from] == (i*per_page).to_s%>
      <li class="current"><a href="/recipes/view_recipes?from=<%=@from%>&amp;search=<%=@search_query%><%=@optional_params%>" aria-label="Page <%=i+1%>"><%=i+1%></a></li>
    <%else%>
      <li><a href="/recipes/view_recipes?from=<%=@from%>&amp;search=<%=@search_query%><%=@optional_params%>" aria-label="Page <%=i+1%>"><%=i+1%></a></li>
    <%end%>
  <%end%>

  <div>
  <%if params[:from].to_i != @recipes_number-per_page%>
    <li class="pagination-next"><a href="/recipes/view_recipes?from=<%=params[:from].to_i+per_page%>&amp;search=<%=@search_query%><%=@optional_params%>" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
  <%end%>
    </div>
</ul>

<div class="row">
  <%@recipes.each do |recipe|%>
    <div class = "column text-center small-6 medium-4 large-4 recipe-container <%= "end" if recipe == @recipes.last %>" >
      <p><%=link_to recipe.label, show_recipe_path(recipe.uri)%></p>
      <p><%=image_tag recipe.image, alt:"picture of #{recipe.label}"%>
    </div>
  <%end%>
</div>
</main>
