<section class="account-page row">
  <h1><%= current_user.username %></h1>
  <section class="columns small-12 medium-6">
    <h3>My Saved Searches</h3>
    <% if @searches.empty? %>
    <p>
      No saved searches yet.
    </p>
    <% else %>
    <ul>
      <% @searches.each do |search| %>
      <li>
        <%= link_to "#{search.search_terms} #{search.has_health?}", recipes_path(search_terms: search.search_terms, health: search.health), class: "search-link" %>
        <%= link_to "delete", delete_search_path(search.id), method: :delete, class: "delete", data: { confirm: 'Really delete this saved search?' } %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </section>
  <section class="columns small-12 medium-6">
    <h3>My Favorite Recipes</h3>
    <% if @recipes.empty? %>
    <p>
      No saved recipes yet.
    </p>
    <% else %>
    <ul>
      <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.name, recipe.recipe_url, class: "recipe-link", target: :_blank %>
        <%= link_to "delete", delete_recipe_path(recipe.id)  , method: :delete, class: "delete", data: { confirm: 'Really delete this saved recipe?' } %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </section>
</section>
