<main>
  <section class = "row">
    <section class = "small-12 medium-12 large-6 columns">
      <h3>&#9825;A list of favorite recepies &#9825;</h3>
      <table>
      <%@user.recipes.each do |recipe|%>
        <tr>
            <td><%=link_to recipe.name , show_recipe_path(recipe.recipe_uri)%></td>
            <td><%=button_to "Remove" , recipe_path(recipe.id), method: :delete, class: "button hollow topbar-responsive-button "%></td>
        </tr>
      <%end%>
    </table>
    </section>
    <section class = "small-12 medium-12 large-6 columns">
      <h3>10 most-recent searches:</h3>
      <table>
        <tr>
          <th> Search keyword </th>
          <th> Search options</th>
          <th> Date </th>
          <th> Search again? </th>
        </tr>
        <%@user.searches[0..9].reverse_each do |search|%>
        <tr>
          <td><%=search.keyword%> </td>
          <td>
            <%if search.vegan%>
              <span>vegan </span>
            <%end%>
            <% if search.kosher%>
              <span>kosher </span>
            <%end%>
            <% if search.vegetarian%>
              <span>vegetarian </span>
            <%end%>
            <% if search.paleo%>
              <span>paleo </span>
            <%end%>
          </td>
          <td> <%=search.created_at.month%>/<%=search.created_at.day%>/<%=search.created_at.year%>  </td>
          <td>
            <%= form_tag(view_recipes_path, :method => "get", id: "search-form") do %>
              <%= hidden_field_tag :search, search.keyword %>
              <%= hidden_field_tag :from, params[:from], value: 0%>
              <%if search.vegan %>
                <%=hidden_field_tag :vegan, "vegan"%>
              <%end%>
              <%if search.kosher%>
                <%=hidden_field_tag :kosher, "kosher"%>
              <%end%>
              <%if search.vegetarian %>
                <%=hidden_field_tag :vegetarian, "vegetarian"%>
              <%end%>
              <%if search.paleo %>
                <%=hidden_field_tag :paleo, "paleo"%>
              <%end%>
              <%= submit_tag "Search again", :name => nil , class: "button hollow topbar-responsive-button "%>
          <% end %>
          </td>
        </tr>
        <%end%>
      </table>

    </section>
  </section>
</main>
