
<section class="ingredient-list">

<h2>The recipe you selected!</h2>

  <% @ingredients.each do | ingredient | %>

    <%=ingredient.label %>
    <%=ingredient.image %>
    <%=link_to ingredient.source, "#{ingredient.url}" %>
    <%=ingredient.ingredientLines %>
    <%=ingredient.totalNutrients %>

  <% end %>

</section>
