
<section class="ingredient-list">

  <h2>The recipe you selected!</h2>

  <div class="transbox">

    <p><%=@ingredient.label %></p>
    <p><%=@ingredient.image %></p>
    <p><%=link_to @ingredient.source, "#{@ingredient.url}" %></p>
    <p><%=@ingredient.ingredientLines %></p>
    <p><%=@ingredient.totalNutrients %></p>

</div>
</section>
