
<section class="ingredient-list">

  <h2>The recipe you selected!</h2>

  <div class="row">
    <div class="large-12 large-centered columns">
      <div class="transbox">
        <div id="ingredients">

        <p><%=@recipe.label%></p>
        <p><%= image_tag(@recipe.image, :size => "600x700", :alt => "#{@recipe.label}") %></p>
        <% @recipe.ingredientLines.each do | line | %>

          <p><%=line%></p>
        <% end %>

        <% @recipe.totalNutrients.each do | k, v | %>

        <p><%= v["label"] %> <%= v["quantity"].round(2) %><%= v["unit"] %></p>

        <% end %>


        <p>Courtesy of: <%=link_to @recipe.source, "#{@recipe.url}" %></p>
        <!-- # add target="_blank" to open link in new tab -->

      </div>
    </div>
  </div>
</div>
</section>
