<h2>List of recepies</h2>

<ul class="pagination" role="navigation" aria-label="Pagination">

  <%n = @recepies_number/10%>
  <%(0..n).each do |i|%>
    <%@from = i*10%>
    <%if params[:from] == (i*10).to_s%>
      <li class="current"><a href="/recepies/view_recepies?from=<%=@from%>&amp;search=<%=@search_query%>" aria-label="Page <%=i%>"><%=i%></a></li>
    <%else%>
      <li><a href="/recepies/view_recepies?from=<%=@from%>&amp;search=<%=@search_query%>" aria-label="Page <%=i%>"><%=i%></a></li>
    <%end%>
  <%end%>

  <%if params[:from].to_i != n*10%>
   <li class="pagination-next"><a href="/recepies/view_recepies?from=<%=params[:from].to_i+10%>&amp;search=<%=@search_query%>" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
  <%end%>

</ul>


<h3>NUMBER OF RECEPIES: <%=@recepies_number%></h3>

<%@recepies.each do |recipe|%>
  <div>
    <p> Title: <%=recipe.label%></p>
    <p>Calories: <%=recipe.calories%></p>
    <p> Image: <%=image_tag recipe.image, alt:"picture of #{recipe.label}"%>
    <p>Uri: <%=recipe.uri%></p>
    <p>Ingridients: <%=recipe.ingredients%></p>
    <p>Diet labels:
      <%recipe.diet_labels.each do |l|%>
        <%=l%>
      <%end%>
    </p>
    <p>Health labels:
      <%recipe.health_labels.each do |l|%>
        <%=l%>
      <%end%>
    </p>
    <br>
      <br>
  </div>
<%end%>
