<h2>List of recepies</h2>
<h3>NUMBER OF RECEPIES: <%=@recepies_number%></h3>
<%=link_to "Next page", view_recepies_path(from: 4, search: @search_query)%>
<%=link_to "Next page", view_recepies_path(from: 8, search: @search_query)%>
<%=link_to "Next page", view_recepies_path(from: 12, search: @search_query)%>
<%@recepies.each do |recipe|%>
  <div>
    <p> Title: <%=recipe.label%></p>
    <p>Calories: <%=recipe.calories%></p>
    <p> Image: <%=image_tag recipe.image, alt:"picture of #{recipe.label}"%>
    <p>Uri: <%=recipe.uri%></p>
    <p>Ingridients: <%=recipe.ingredients%></p>
    <p>Diet labels:
      <%recipe.diet_labels.each do |l|%>
        <%=l%>
      <%end%>
    </p>
    <p>Health labels:
      <%recipe.health_labels.each do |l|%>
        <%=l%>
      <%end%>
    </p>
    <br>
      <br>
  </div>
<%end%>
