<%= form_tag(results_path, method: :get) do %>
<div class="row white">
  <div class="large-12 columns">
    <div class="row collapse postfix-round">
        <% label_tag(:q) %>
        <%= text_field_tag (:q) %>
            <%= submit_tag "Find Recipes!", class: "button"%>
    </div>
  </div>
</div>
<% end %>

<body>
  <div id="hitarea">
      <div id="a-1" class="hitbox"></div>
      <div id="a-2" class="hitbox"></div>
      <div id="a-3" class="hitbox"></div>
      <div id="a-4" class="hitbox"></div>
      <div id="a-5" class="hitbox"></div>
      <div id="b-1" class="hitbox"></div>
      <div id="b-2" class="hitbox"></div>
      <div id="b-3" class="hitbox"></div>
      <div id="b-4" class="hitbox"></div>
      <div id="b-5" class="hitbox"></div>
      <div id="c-1" class="hitbox"></div>
      <div id="c-2" class="hitbox"></div>
      <div id="c-3" class="hitbox"></div>
      <div id="c-4" class="hitbox"></div>
      <div id="c-5" class="hitbox"></div>
      <div id="d-1" class="hitbox"></div>
      <div id="d-2" class="hitbox"></div>
      <div id="d-3" class="hitbox"></div>
      <div id="d-4" class="hitbox"></div>
      <div id="d-5" class="hitbox"></div>
      <div id="e-1" class="hitbox"></div>
      <div id="e-2" class="hitbox"></div>
      <div id="e-3" class="hitbox"></div>
      <div id="e-4" class="hitbox"></div>
      <div id="e-5" class="hitbox"></div>
      <div class="eye">
        <div class="pupil"></div>
      </div>
      <div class="eye">
        <div class="pupil"></div>
      </div>
      <div class="eyelid"></div>
      <div class="eyelid"></div>
  </div>

  <footer class="footer center">
    <div>
      Powered by Edamam
    </div>
    <div>
      Googly Eyes: Pen <a href="https://codepen.io/loktar00/pen/FmkAd">Loktar</a>
    </div>
  </footer>


<!-- <%= form_tag(results_path, method: :get) do %>
<% label_tag(:q) %>
<%= text_field_tag (:q) %>
<%= submit_tag("Search") %>
<% end %> -->
