<section class="search-results row">



  <% if @results.empty? %>
  <p>
    Nothing found for that search
  </p>
  <% else %>
  <section class="columns small-12">
    <%= link_to "prev", recipes_path(prev: true), method: :get, class: "columns small-12 medium-4" %>
    <% if current_user %>
    <%= link_to "save this search", save_search_path, method: :post %>
    <% end %>
    <%= link_to "next", recipes_path(next: true), method: :get, class: "columns small-12 medium-4" %>
  </section>
  <% @results.each do |result| %>
  <section class="indiv-recipe columns small-12 medium-6 large-6">
    <%= link_to image_tag(result.image), recipe_path(uri: result.uri), method: :get, class: "index-image" %>
    <div>
      <%= link_to truncate(result.name), recipe_path(uri: result.uri), method: :get, class: "recipe-title" %>
    </div>
  </section>
  <% end %>
  <% end %>
</section>
