  <h2><%= @recipe.label %></h2>

<ul>
  <li>
    <%= image_tag(@recipe.image, :alt => @recipe.label) %>
  </li>
  <li>
    Recipe on: <%= link_to @recipe.source, @recipe.url %>
  </li>
</ul>



Ingredients
<ul>
  <% @recipe.ingredients.each do |label| %>
  <li>
    <%= label["quantity"]%> <%= label["measure"] %>(s) <%= label["food"] %>
  </li>
  <% end %>
</ul>



Diet Labels
<ul>
  <% @recipe.dietlabels.each do |label| %>
  <li>
    <%= label %>
  </li>
  <% end %>
</ul>

Health Labels
<ul>
  <% @recipe.healthlabels.each do |label| %>
  <li>
    <%= label %>
  </li>
  <% end %>
</ul>

Total Nutrition
<table>
  <caption>
    Total Nutrition
  </caption>
  <% @recipe.totalNutrients.each do |label| %>
  <tr>
    <th>
      <%= label[1]["label"] %>
    </th>
    <td>
      <%= label[1]["quantity"].round(0) %> <%= label[1]["unit"] %>
    </td>
  </tr>
  <% end %>
</table>
