<!-- <table>
  <tr>
    <th></th>
    <th>Per Serving</th>
    <th>Percent of Daily Value</th>
  </tr>
  <tr>
    <td>Calories</td>
    <td><%= @recipe.nutritional_info["ENERC_KCAL"]["quantity"].round(2) %></td>
    <td></td>
  </tr>
  <tr>
    <td>Total Fat</td>
    <td> <%= @recipe.nutritional_info["FAT"]["quantity"].round(1) %> grams</td>
    <td><%= @recipe.daily["FAT"]["quantity"].round(1) %>%</td>
  </tr>
    <td>Saturated Fat</td>
    <td> <%= @recipe.nutritional_info["FASAT"]["quantity"].round(1) %> grams</td>
    <td><%= @recipe.daily["FASAT"]["quantity"].round(1) %>%</td>
  </tr>
  </tr>
    <td>Trans Fat</td>
    <td> <%= @recipe.nutritional_info["FATRN"]["quantity"].round(1) %> grams</td>
    <td></td>
  </tr>
    <td>Sodium</td>
    <td><%= @recipe.nutritional_info["NA"]["quantity"].round(1) %> grams</td>
    <td><%= @recipe.daily["NA"]["quantity"].round(1) %>%</td>
  </tr>
  </tr>
    <td>Carbohydrates</td>
    <td><%= @recipe.nutritional_info["CHOCDF"]["quantity"].round(1) %> grams</td>
    <td><%= @recipe.daily["CHOCDF"]["quantity"].round(1) %>%</td>
  </tr>
  </tr>
    <td>Fiber</td>
    <td><%= @recipe.nutritional_info["FIBTG"]["quantity"].round(1) %> grams</td>
    <td><%= @recipe.daily["FIBTG"]["quantity"].round(1) %>%</td>
  </tr>
  </tr>
    <td>Sugar</td>
    <td><%= @recipe.nutritional_info["SUGAR"]["quantity"].round(1) %> grams</td>
    <td></td>
  </tr>
  </tr>
    <td>Protein</td>
    <td><%= @recipe.nutritional_info["PROCNT"]["quantity"].round(1) %> grams</td>
    <td><%= @recipe.daily["PROCNT"]["quantity"].round(1) %>%</td>
  </tr>
</table> -->
