<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div>
      <h1><%= link_to "Measure Twice", root_path, method: :get %></h1>
    </div>
    <div>
      <h3>The Best Way To Find Great Recipes</h3>
    </div>
  </header>
  <%= yield %>
  <footer class="footer">
      <p>This site is powered by </p>
    <div class="attribution">
      <%= link_to image_tag("http://media.prleap.com/image/5419/full/_logo_edamam.jpg"), "http://developer.edamam.com" %>
    </div>
  </footer>
</body>
</html>
