<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Muncher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header_banner row">
      <img class="columns large-6 small-4" src="http://morethanfood.co.za/wp-content/uploads/2015/04/Craig-Cormack-Recipe-Header.jpg" alt="food">
      <div><h1 class="head-title large-4 columns small-3 columns">Muncher</h1>
      <p class="header_nav columns large-4 small-3"><%= link_to "New Search", recipes_path %></p></div>
    </header>

    <%= yield %>

  </body>
  <footer>
    <section class="row">
      <p>This site is powered by Edamam</p>
    </section>
  </footer>
</html>
