<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
        <section >
          <%if @login_user%>
          <p>Currently logged in as <%=link_to @login_user.name, user_path(@login_user.id)%></p>
          <%= button_to "Log out", logout_path,  class:"button medium"%>
          <%else%>
          <p>Not logged in</p>
          <%= button_to "Log in", "/auth/google_oauth2", class:"button medium "%>
          <%end%>
        </section>


  </header>
  <section class="flash">
    <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>

  <%= yield %>

</body>
</html>
