<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class = "row">

        <div class = "large-8 columns">
          <h2>FIND YOUR TASTE</h2>
        </div>
        <div class = "large-4 columns">
          <%= render partial: "search" %>
        </div>


    </header>

    <main class = "row">
      <%= yield %>
    </main>

    <footer class = "row">
      <p>
        This work is based on Edamam's data (https://developer.edamam.com/)
      </p>
    </footer>

  </body>
</html>
