<!DOCTYPE html>
<html lang="en">
  <header>
    <%= link_to "back to previous page", :back, class: "button" %>
    <% if current_user %>
    Signed in as <%= current_user.name %>
    <%= link_to "Sign out", signout_path, class: "button"%>
    <% else %>
    <%= link_to "Sign in with Google", "auth/google_oauth2", class: "button" %>
    <% end %>
  </header>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Api-Muncher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
  <footer>
    <p>Powered by: <%= image_tag("https://corehealth.global/images/default-source/meetwilo-screenshots/edamam-logo.png?sfvrsn=10")%></p>
  </footer>
</html>
