<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Only Foods Anna Can Eat</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <footer>
      <p>Powered by <%= link_to "Edamam", "https://www.edamam.com/", target: :_blank %>
    </footer>
  </body>
</html>
