<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="nav wrap">
      <h1 class="title"><%= link_to "Delish", root_path %></h1>
    </nav>
  </section>

    <%= yield %>

  </body>

  <footer class="wrap">
    <div class="row">
  <p>© Haby Randall 2017, Powered by <img src="http://ww1.prweb.com/prfiles/2014/01/29/11570463/Logo%201024x500.png"</p>
</div>
</footer>
</html>
