<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Muncher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <img src="http://morethanfood.co.za/wp-content/uploads/2015/04/Craig-Cormack-Recipe-Header.jpg" alt="food">
      <h1>Muncher</h1>
      <%= link_to "New Search", recipes_path %>
    </header>

    <%= yield %>

  </body>
</html>
