<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <h1><%= link_to "Recipe Finder", root_path %></h1>
  </header>

  <body>

    <%= yield %>

  </body>
  <footer>
    <%= link_to (image_tag "edamamlogo.png"), "http://developer.edamam.com" %>
  </footer>
</html>
