<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Cook Yo Food</h1>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>

  <footer>
    Powered by <img src="http://media.prleap.com/image/5419/full/_logo_edamam.jpg" alt="edamam" height="60" width="70">
  </footer>
</html>
