<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Make Anna Dinner</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
      <h3><%= link_to "Make Anna Dinner", root_path %></h3>
      <% if current_user %>
        <p class="text-right signed_in">Signed in as <strong><%= current_user.name %></strong></p>
        <%= button_to "Sign out", signout_path, id: "sign_out", method: :get, class: "button sign_in" %>
      <% else %>
        <%= button_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", method: :get, class: "button float-right" %>
      <% end %>
    </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer class="small-6 large-6 columns">
      <p>Powered by <%= link_to "Edamam", "https://www.edamam.com/", target: :_blank %>
    </footer>
  </body>
</html>
