<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>
  <footer class ="footer">
    <p class="footer-child-edamam-logo"> <%= link_to(image_tag('Attribution.png', alt: 'Edamam Logo'), "https://www.edamam.com/") %></p>
    <p class="footer-child copywrite">&copy; - Created by <%= link_to "Sofia", "https://sofia15.github.io/Static-Site/index.html" %> - 2017 </p>
  </footer>
</body>
</html>
