<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Recipe Recs</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="row">
  <header class="row">
    <h1 class="columns small-12"><%= link_to "Aurora's Recipe Recs", root_path, method: :get %></h1>
    <section class="credits">
      <p class="columns small-12 medium-6 large-6 personal-credit">
        a project by <%= link_to "Aurora Anderson", "http://github.com/auroralemieux", target: :_blank %>
      </p>
      <p class="columns small-12 medium-6 large-6 api-credit">
        recipe search powered by <%= link_to "Edamam", "https://www.edamam.com", target: :_blank %>
      </p>
    </section>
    <section class="row">

      <section class="columns small-12 ">
        <% if current_user %>
        <p>
          logged in as <%= current_user.provider %>
        </p>
          <%= link_to "Logout", logout_path, method: :delete, class: "button" %>
          <%= link_to "My Account", account_path, method: :get, class: "button" %>
        <% else %>
          <%= link_to "Login", login_form_path, method: :get, class: "button" %>
        <% end %>
          <%= link_to "New search", root_path, method: :get, class: "button" %>
      </section>
    </section>

  </header>
  <section class="errors">
    <% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
    <% end %>
  </section>
  <%= yield %>
  <footer class="row">

  </footer>

</body>
</html>
