<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Feed Yoself" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <%= link_to "Feed Yoself", root_path %>

    <%= form_tag recipes_path, method: 'get', id: 'search-form' do %>
      <%= text_field_tag :search_term, params[:search_term], placeholder: "Search Recipes: " %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>

  </header>
  <body>

    <%= yield %>

  </body>
  <footer>
    <h4>Powered by</h4>
    <%= link_to image_tag("https://www.edamam.com/images/logo-site-header.png", class: "logo"), "https://www.edamam.com/" %>
  </footer>

</html>
