<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="ramen.png">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Beyond Ramen" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class='small-9 large-centered columns, header'>
  <% if flash[:messages] %>
  <p>
    <%= flash[:messages] %>
  </p>
  <% end %>
</div>
<body>
  <h1 class='small-9 large-centered columns, header'>Beyond Ramen</h1>
  <%= yield %>

</body>
</html>
