<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <section id="wrapper">
    <header id="header">
      <article id="apple"><%= image_tag("apple.png", :size => "200x300", :alt => "apple header") %></article>
      <h1 id="header-link"><%= link_to "MunchieMunch", root_path %></h1>
    </header>
    <section id="content">
      <%= yield %>
    </section>
    <footer id="footer">
      <section>
        <article><%= image_tag "/assets/Attributionv2.png", :alt => "Edamam attribution" %> </article>
      </section>
    </footer>
  </body>
</section>
</html>
