<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon-cutlery.ico">

    <title><%= content_for?(:title) ? yield(:title) : "Munchin' Recipe Finder" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <footer>
      <p>
        powered by <%= link_to image_tag("/Edamam_logo_full_RGB.png"), "http://developer.edamam.com" %>
      </p>
    </footer>
  </body>
</html>
